* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  padding: 15px 30px;
  background-color: white;
}

.main-header {
  height: 35%;
  min-height: 35%;
  max-height: 35%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: whitesmoke;
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.body-container {
  height: 65%;
  min-height: 65%;
  max-height: 65%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding: 10px 30px;
  background-color: whitesmoke;
}

.buttons-tab {
  height: 10%;
  min-height: 10%;
  max-height: 10%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: powderblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.data-container {
  height: 90%;
  min-height: 90%;
  max-height: 90%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  margin-top: 10px;
  background-color: ghostwhite;
}
.button-block {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100px;
  min-width: 100px;
  width: 100px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.button-block:hover {
  background-color: lightblue;
  color: black;
}
.data-container-header {
  height: 12%;
  min-height: 12%;
  max-height: 12%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 1.5%;
}

.slno {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 5%;
  min-width: 5%;
  width: 5%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.name {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 20%;
  min-width: 20%;
  width: 20%;
  font-size: 18px;
  color: black;
  font-weight: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.lastupdated {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 15%;
  min-width: 15%;
  width: 15%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.cogs {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 10%;
  min-width: 10%;
  width: 10%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.costprice {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 10%;
  min-width: 10%;
  width: 10%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.saleprice {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 10%;
  min-width: 10%;
  width: 10%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.grossmargin {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 10%;
  min-width: 10%;
  width: 10%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.tags {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 15%;
  min-width: 15%;
  width: 15%;
  font-size: 16px;
  color: black;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.data-container-body {
  height: 88%;
  min-height: 88%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.data-container-block {
  height: 80px;
  min-height: 50px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid black;
}
.main-header-block {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 33%;
  min-width: 33%;
  width: 33%;
  background-color: gray;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.header-title {
  height: 15%;
  min-height: 15%;
  max-height: 15%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
}

.header-body {
  height: 85%;
  min-height: 85%;
  max-height: 85%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.header-block {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 33%;
  min-width: 33%;
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.header-block .title {
  height: 15%;
  width: 100%;
  min-height: 15%;
  max-height: 15%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}
.header-block .circular-bar {
  height: 85%;
  width: 100%;
  min-height: 85%;
  max-height: 85%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.CircularProgressbar-text {
  font-size: 10px;
}
.CircularProgressbar-path {
  width: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}
